<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="DataFactory">
  
    <parameter name="SiteAddress"  value="https://www.google.co.in"/>
     <parameter name="name"  value="Swapanpreet"/>
      <classes>
      
      <class name="com.googlesearch.MavenGoogleSearch1.GoogleSearch"/>
       
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
